* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
}
.content{
  margin-top: 60px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-toggle-label {
  display: none;
  width: 1.5rem;
  height: 1.25rem;

  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.nav-toggle-label span {
  width: 100%;
  height: 15%;
  background-color: white;
  border-radius: 1rem;
}

.nav-toggle {
  display: none;
}

.nav .btn {
  background-color: #fff;
  color: #4caf50;
  padding: 5px 15px;
  margin-left: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.nav .btn:hover {
  background-color: #e0e0e0;
}

.hero {
  text-align: center;
  padding: 20px;
  background-color: #e9f5e9;
}

.hero h1 {
  margin-bottom: 10px;
  font-size: 2em;
}

.hero p {
  color: #555;
}




@media (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    right: -100%;

    width: 100%;
    padding: 10rem 2rem;
    height: 100%;
    background-color: #4caf50;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    transition: right 0.3s;
  }

  .nav .btn {
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: white;
    font-size: 2rem;
  }

  .nav .btn:hover {
    background-color: transparent;
    color: white;
  }

  .nav-toggle:checked + .nav {
    right: 0;
  }

  .nav-toggle-label {
    display: flex;
    z-index: 1;
  }
}
