<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /eduhub/
  
  # Redirect all requests to index.html unless the file, directory, or symbolic link exists
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /eduhub/index.html [L]
</IfModule>
