:root{
    --scrollbar-background: #ffffff;
    --scrollbar-thumb: #1ee456;
    --scrollbar-thumb-hover: #037022;

    --color-primary: #4CAF50;


    --Actionbutton: #5c85ff;
    --UnfollowButton: #f6f6f6;
}